.atom/.apm/
.atom/.node-gyp/
.atom/packages/
.atom/compile-cache/
.atom/storage/

.emacs.d/elpa/
.emacs.d/ac-comphist.dat
.emacs.d/saved-places
.emacs.d/elisp
.emacs.d/public_repos
.emacs.d/eshell
.emacs.d/url

.bash/conf/env-init.bash