"*":
  "atom-beautify":
    _analyticsUserId: "d539dcb9-bb89-4665-91b3-500313c86f78"
  "atom-color-highlight": {}
  autocomplete:
    includeCompletionsFromAllBuffers: true
  core:
    projectHome: "/Users/kwatanabe/git"
    themes: [
      "atom-dark-ui"
      "fizzy"
    ]
  editor:
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "9bbb2f1d-04bf-31e7-e904-cc7684542f02"
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  metrics:
    userId: "e0082330b672850e08c74c1fc4e4684973d1823a"
  "release-notes":
    viewedVersion: "0.94.0"
  welcome:
    showOnStartup: false
